/* ================================= */
/* ---------- COUSTOM COLOR -------- */
/* ================================= */
.color_yellow{color:#1d1953}
.btn-light {
    background: #1d1953;
}
.form_button {
    background: #1d1953;
    transition: color 1000ms ease 0s, background-color 1500ms ease 0s;
}
.media__body:after,
.media__body:before {
    border: 1px solid #1d1953;
}
.topbar .booking {
    background: #1d1953;
}
.navbar-default .navbar-toggle {
    background: #1d1953;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: #1d1953;
}
.tp-tab:hover, .tp-tab.selected,
.tp-thumb:hover, .tp-thumb.selected {
    border-bottom: 3px solid #1d1953 !important;
}
.tp-tab:hover .tp-tab-title span{
    background:#1d1953;
}
.tp-tab:hover .tp-tab-title > span, .tp-tab.selected .tp-tab-title > span{
    background:#1d1953;
}
.tp-tab:hover .tp-tab-title, .tp-tab.selected .tp-tab-title{
    color:#1d1953;
}
.scrollup {
    background: #1d1953;
}
.scrollup:hover {
    border: 1px solid #1d1953;
}
.modal-center h2 {
    color: #1d1953;
}
.login-modal-btn {
    background: #1d1953;
}
.modal-heading {s
border-left: 5px solid #1d1953;
}
.modal-title {
    color: #1d1953;
}
#btn-close-modal {
    border: 1px solid #1d1953;
    color: #1d1953;
}
#login .profile-login ul .active > a {
    background:#1d1953;
}
#login .profile-login .btn-slide {
    background:#1d1953;
    transition: color 1000ms ease 0s, background-color 1500ms ease 0s;
}
#login .profile-login .lost-pass:hover{
    color:#1d1953;
}
.overlay-inner > h4 {
    color: #1d1953;
}
#header_six {
    background: #1d1953;
}
#popup_login .close {
    background-color: #1d1953;
}
.form-material .form-control {
    border-bottom: 1px solid #1d1953;
}
.form-material label {
    color: #1d1953;
}
.accordion .title a:hover,
.accordion .title a[aria-expanded="true"] {
    background: #1d1953;
}
.cont_office .btn.btn-default.dropdown-toggle {
    background: #1d1953;
}
#header_top .cont_office .dropdown-menu > li > a:focus,
#header_top .cont_office .dropdown-menu > li > a:hover {
    background-color: #1d1953;
}
.get-tuch.text-left a:hover
{
    color: #1d1953;
}
.get-tuch.text-left .fa
{
    color: #1d1953;
}
#header_4 nav.navbar.bootsnav .share ul > li > a:hover{
    background:#1d1953;
}
#header_six .navbar-default .navbar-nav > .active > a,
#header_six .navbar-default .navbar-nav > .active > a:focus,
#header_six .navbar-default .navbar-nav > .active > a:hover {
    background-color: #1d1953;
}
#header_8 .logo {
    background: #1d1953;
}
#header_8 .logo:after{
    background:#1d1953 url(../images/logo-bg.png) no-repeat;
}
#header_8 .logo:before {
    background: #1d1953;
}
#header_8 .quotes a {
    background: #1d1953;
}
#header_8 .top-info-con h6{
    color: #1d1953;
}
#header_9 .top_icon .fa {
    color: #1d1953;
}
#header_one .navbar-default .navbar-nav > li a:hover {
    background-color: #1d1953;
}
#header_one .navbar-default .navbar-nav > .active > a, #header_one .navbar-default .navbar-nav > .active > a:focus, #header_one .navbar-default .navbar-nav > .active > a:hover {
    background-color: #1d1953;
}
nav.navbar.bootsnav ul.nav li.megamenu-fw > a:hover, nav.navbar.bootsnav ul.nav li.megamenu-fw > a:focus, nav.navbar.bootsnav ul.nav li.active > a:hover, nav.navbar.bootsnav ul.nav li.active > a:focus, nav.navbar.bootsnav ul.nav li.active > a {
    background-color: #1d1953;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    background-color: #1d1953;
}
#header_4 nav.navbar.bootsnav .navbar-toggle {
    background: #1d1953 !important;
}
.pushmenu{
    border-top:5px solid #1d1953;
}
.pushmenu .push_nav > li > a:hover, .pushmenu  .push_nav > li > a:focus,
.pushmenu .push_nav > li.active > a{
    color:#1d1953;
}
#header_7 .social-icons li {
    border: 1px solid #1d1953;
}
#header_9 .navbar-default .navbar-nav > .active > a,
#header_9 .navbar-default .navbar-nav > .active > a:focus,
#header_9 .navbar-default .navbar-nav > .active > a:hover {
    background:#1d1953;
}
.banner-button-1 {
    background: #1d1953;
}
.banner-button-1:hover {
    color: #1d1953;
}
.banner-button-2:hover {
    background: #1d1953;
    color: #fff;
}
#main-slider .carousel .style {
    color: #1d1953;
    border:1px solid #1d1953;
}
#main-slider .carousel .style > span {
    background: #1d1953;
}
#main-slider .carousel .style > span > span {
    border-color: transparent transparent transparent #1d1953;
}
#main-slider .carousel .btn-slide:hover{
    border-left:4px solid #1d1953;
}
#main-slider .carousel .active.btn-slide.animation.animated-item-1 {
    background: #1d1953 ;
    border-left:4px solid #1d1953;
}
#main-slider .prev:hover,
#main-slider .next:hover {
    background-color: #1d1953;
}
#main-slider .carousel-indicators .active{
    background-color: #1d1953 ;
    border: 1px solid #1d1953 ;
}

#main-slider .carousel-indicators .active:after {
    background: #1d1953 ;
    border: 1px solid #1d1953 ;
}
#home_2 h4 {
    color: #1d1953;
}
.btn:hover {
    color: #1d1953;
}
.pur_button-white > a {
    background: #1d1953;
}
.pur_button-white > a:hover{
    color: #1d1953;
}
#about .btn-slide_about {
    background:#1d1953;
}
#about .btn-slide_about:hover {
    background: #1d1953;
}
.page-block h3 {
    color: #1d1953;
}
.icon-box .icon.icon-dark {
    background-color: #1d1953;
}
.icon-box .icon.icon-border-effect::after {
    box-shadow: 0 0 0 3px #1d1953;
}
.line1, .line2 {
    background-color: #1d1953;
}
.servicesone i {
    background:#1d1953;
}
.servicesone:hover i {
    color: #1d1953;
}
.btn-slide {
    background: #1d1953;
}
.owl-pagination .owl-page > span {
    background: #1d1953;
}
#tabs-section .about-us-box .about-us-post:hover a{
    background:#1d1953;
}
#tabs-section .about-us-box .about-us-post:hover h4{
    color:#1d1953;
}
.service-item .fa {
    border: 1px solid #1d1953;
    color: #1d1953;
}
.service-item:hover .fa {
    background:#1d1953;
}
.service-item:hover h3 {
    color: #1d1953;
}
.features8:hover h3{
    color:#1d1953;
}
.row.servc {
    background: #1d1953;
}
.index1-services-box:hover{
    background:#1d1953;
    transition: all 0.5s ease 0s;
}
#services_index1 .owl-next:hover, #services_index1 .owl-prev:hover {
    color: #1d1953;
}
#index7_services {
    background: #1d1953;
}
#project_index .services:hover h3 {
    color: #1d1953;
}
.services:hover span {
    background: #1d1953;
    border: 1px solid #1d1953;
}
.services:hover a {
    border-bottom: 1px solid #1d1953;
    color: #1d1953;
}
.services:hover h3 {
    color: #1d1953;
}
#project_index .services:hover a {
    border-bottom: 1px solid #1d1953;
    color: #1d1953;
}
#purchase {
    background: #1d1953;
}
.work-filter ul li a:hover, .work-filter ul li a.active {
    background-color: #1d1953;
    border: 1px dotted #1d1953;
}
.overlay {
    color: #1d1953 !important;
}
.overlay .line, .product-content .line {
    background-color: #1d1953;
}

.cbp-l-filters-alignRight .cbp-filter-item.cbp-filter-item-active,
.cbp-l-filters-alignRight .cbp-filter-item:hover, .cbp-l-filters-alignRight .cbp-filter-item:focus{
    color:#1d1953;
}
.cbp-l-filters-alignRight .cbp-filter-item:before{
    color:#1d1953;
}
.overlay .opens{
    background:#1d1953;
}
.circle-user {
    border: 3px solid #1d1953;
    color: #1d1953;
}
.circle-user i {
    background: #1d1953;
}
#index1-chose .chose_box i {
    background: #1d1953;
}
#index1-chose .chose_box:hover {
    background:#1d1953;
}
#index1-chose .chose_box:hover i{
    color: #1d1953;
}
.gallery-section .slide-item{
    border:1px solid #1d1953;
}
.gallery-section .item-caption{
    border-top:2px solid #1d1953;
}
.slide-item .item-caption h4 strong {
    color: #1d1953;
}
.gallery-section .owl-next:hover,
.gallery-section .owl-prev:hover,
#our-agent-slider .owl-prev:hover,
#our-agent-slider .owl-next:hover{
    background: #1d1953;
}
#our-agent .team_text {
    border-top: 4px solid #1d1953;
}
.team_popup .progress-bar {
    background-color: #1d1953;
}
#our-agent-slider .item:hover .team_text {
    background: #1d1953;
}
#index1-conatcat .index1_adress .fa {
    color:#1d1953;
}
#index1-conatcat .index1_adress a:hover {
    color:#1d1953;
}#index1-conatcat .index1_adress a:hover {
     color:#1d1953;
 }
.footer_link > li > a:hover{
    color: #1d1953;
}
.social-icons li {
    background: #1d1953;
}
.social-icons li:hover a {
    color: #1d1953;
}
.header_5 nav.navbar.bootsnav .navbar-toggle {
    background: #1d1953 !important;
}
/* ================================= */
/* -------- COUSTOM COLOR RGBA ----- */
/* ================================= */
.servicesone:hover i {
    box-shadow: 0 0 0 5px rgba(255, 205, 35, 0.8) inset;
}